/*Interactive Page*/
body{
    margin: 0;
    background-image: linear-gradient(#bfdf9680,#159ec096);
}
.MasterGird{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 400px;
    margin-left: 300px;

}
.Grid-item-1{
   
  
    border:solid black 1px;
    box-shadow: 10px 10px 10px 0px green;
    background-image: url(bin.jpg);
    background-size: cover;
}
.Grid-item-2{
    background-image: url(bin-blue.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px 0px rgb(208, 255, 0);
    border:solid black 1px;
}

.Grid-item-3{
    background-image: url(bin-yellow.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px 0px rgb(13, 0, 128);
  
    border:solid black 1px;
}
.Grid-item-4{
   
    background-image: url(bin-red.jpg);
    background-size: cover;
    box-shadow: 10px 10px 10px 0px rgb(233, 7, 7);
    border:solid black 1px;
}




.Objects{
    margin-top: 150px;
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 100px;
    margin-left: 300px;

}
.object-item-1{
   
  
    border:solid black 1px;
}
.object-item-2{
   
   
    border:solid black 1px;
}

.object-item-3{
   
  
    border:solid black 1px;
}
.object-item-4{
   
   
    border:solid black 1px;
}



.DemoRep{
    position: fixed;
    border: solid 1px black ;
    padding:10px;
    margin-top: 20%;
}
img{
    width: 200px;
    height: 100px;
}